// Fonts
$font-main: "Roboto", sans-serif;

// Colors
$white: #fff;
$primary: #1946da;
$white-2: #fafafa;
$black: #2b2b2b;
$midnight-blue: #001047;
$paragraph: #676c80;

// Number
$top-dk: 80px;
$top-pl: 60px;
//$top-mb:;
