.button {
	padding: 14px 28px;
	text-align: center;
	text-transform: capitalize;
	border-radius: 55px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	transition: all 0.3s;
	display: flex;
}

.button--white {
	border: 2px solid $white;
	background-color: $midnight-blue;
	color: $white;

	&:hover {
		background-color: $white;
		border-color: $midnight-blue;
		color: $midnight-blue;

		.button__link {
			color: $midnight-blue;

			&:hover {
				color: $midnight-blue;
			}
		}
	}

	.button__link {
		color: $midnight-blue;
	}
}

.button--blue-active {
	border: 2px solid $primary;
	background-color: $white;
	color: $midnight-blue;

	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: $white;

		.button__link {
			color: $white;

			&:hover {
				color: $white;
			}
		}
	}

	.button__link {
		color: $midnight-blue;
	}
}

.button--blue {
	border: 2px solid $primary;
	background-color: $primary;
	color: $white;

	&:hover {
		background-color: $white;
		border-color: $primary;
		color: $midnight-blue;

		.button__link {
			color: $midnight-blue;

			&:hover {
				color: $midnight-blue;
			}
		}
	}

	.button__link {
		color: $white;
	}
}
