@media screen and (width >= 1920px) {
	.image-banner--left {
		left: 9%;
		top: 2%;
	}
	.image-banner--right {
		right: 10%;
		top: 6%;
	}
	.image-block {
		max-width: 528px;
		margin-left: -13%;
	}
}

@media screen and (width >= 1440px) and (width < 1920px) {
	.image-banner--left {
		//width: 25%;
		top: 4%;
		left: 1%;
	}
	.image-block {
		max-width: 528px;
		margin-left: -13%;
	}

	.image-banner--right {
		//width: 25%;
		right: 5%;
		top: 7%;
	}
}
//@media screen and (max-width: 1440px) {
//
//}

@media screen and (width >= 1280px) and (width < 1440px) {
	.image-block {
		max-width: 528px;
		margin-left: -13%;
	}
	//! saasd
	.light-block__subtitle {
		min-width: 275px;
	}
	.welcome__info {
		justify-content: space-between;
	}
	.nav-desktop {
		width: 55%;
		gap: 35px;
	}
	.image-banner--left {
		width: 25%;
		top: 9%;
		left: 2%;
	}

	.image-banner--right {
		width: 23.5%;
		right: 4%;
		top: 13%;
	}
}

@media screen and (max-width: 1279px) {
	.image-block {
		max-width: 41vw;
		margin-left: -15%;
	}
	.nav-desktop {
		width: 55%;
		gap: 35px;
	}
	.image-banner--left {
		top: 14%;
		width: 25%;
	}
	.image-banner--right {
		top: 16%;
		width: 25%;
	}
}

@media screen and (max-width: 991px) {
	.image-block {
		height: 280px;
		max-width: 53.5vw;
		margin-left: -18%;
	}

	.light-block {
		height: 280px;
	}
	.welcome__info {
		grid-row-gap: 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.welcom__main-title {
		max-width: 800px;
	}
	.main {
		padding-top: 80px;
	}
	.header__nav-wrapper {
		height: 80px;
	}
	.welcome {
		padding-top: 60px;
	}

	.image-banner--left {
		top: 11%;
		left: -2%;
		width: 30%;
	}
	.image-banner--right {
		right: -3%;
		top: 13%;
		width: 30%;
	}
	.blue-block__full-block.blue-block__end {
		padding-right: 15px;
	}
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 35px;
	}
	.welcom__main-title {
		max-width: 500px;
	}
	.main {
		padding-top: 65px;
	}
	.header__nav-wrapper {
		height: 65px;
	}
	.welcom__main-subtitle {
		margin-bottom: 30px;
	}
	.welcome__info {
		margin-top: 50px;
	}
	.home-hero-logos {
		margin: 60px 0;
	}
	.home-hero-logo {
		margin: 0 5px;
		& > img {
			width: 80%;
		}
	}
	.blue-block__top-text,
	.blue-block__bottom-text {
		font-size: 18px;
	}
	.blue-block__full-block {
		padding: 30px 10px 30px 30px;
	}
	.blue-block__full-block.blue-block__end {
		padding-right: 20px;
		padding-left: 20px;
	}
	.blue-block {
		width: 370px;
		height: 280px;
	}
	.image-block {
		max-width: 450px;
		height: 280px;
		margin-left: 0;
	}
	.nav-desktop,
	.button-header {
		display: none;
	}
	.image-banner--left {
		top: 5%;
		width: 34%;
	}
	.image-banner--right {
		right: 5%;
		top: 18%;
		width: 34%;
	}
}

@media screen and (max-width: 479px) {
	h1 {
		font-size: 29px;
	}
	.image-banner {
		&--left {
			animation: pulse_1_mob 4s linear infinite;
		}
		&--right {
			animation: pulse_2_mob 5s linear infinite;
		}
	}
	.home-hero-logos {
		margin: 50px 0;
	}
	.home-hero-logo {
		margin: 0;
		& > img {
			width: 75%;
		}
	}
	.welcome__line-absolute {
		top: 4%;
		width: 200px;
		height: 55px;
	}
	.button {
		padding: 3vw 9vw;
	}
	.blue-block__full-block {
		padding: 6vw 0vw 6vw 6vw;
		height: calc(70vw);
		width: calc(60vw);
	}
	.blue-block__full-block.blue-block__end {
		padding-right: 1vw;
		padding-left: 3vw;
		padding-bottom: 6vw;
	}
	.blue-block__top-text,
	.blue-block__bottom-text {
		font-size: calc(2vw + 10px);
	}
	.blue-block__top-text {
		max-width: 37vw;
	}
	.blue-block__top-figure {
		font-size: calc(12vw + 20px);
	}
	//.blue-block__top-text {
	//	font-size: 4.5vw;
	//}
	.blue-block {
		width: 93vw;
		height: 70.5vw;
		//height: 300px;
		background-size: contain;
	}
	.image-block {
		max-width: 450px;
		height: 280px;
		margin-left: 0;
	}

	.welcom__button-wrapper {
		grid-row-gap: 15px;
		flex-wrap: wrap;
	}
	.welcom__main-subtitle {
		max-width: 250px;
	}
	.image-banner--left {
		top: auto;
		bottom: 29%;
		left: -2%;
		right: auto;
		width: 45%;
	}
	.image-banner--right {
		right: 2%;
		top: 24%;
		width: 45%;
	}
}
@media screen and (max-width: 390px) {
	.image-banner--left {
		bottom: 33%;
		left: 2%;
	}
	.image-banner--right {
		right: 2%;
		top: 25%;
	}
}
