#animationWindow {
	width: 300px;
	height: 300px;
	border: 2px solid red;
}
.block {
	width: 100px;
	height: 100px;
	background-color: pink;
}
#animationWindow2 {
	width: 750px;
	height: 750px;
	border: 2px solid blue;
}
.footer {
	height: 1000px;
}
.main {
	background-color: cornsilk;
}
.pin-spacer {
	background-color: yellowgreen;
}
//opacity:0,
