.header_fixed {
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
}
.header__nav-wrapper {
	justify-content: space-between;
	align-items: center;
	display: flex;
	height: 104px;
}

.nav-desktop {
	text-align: right;
	justify-content: space-between;
	align-items: center;
	display: flex;
	width: 560px;
}

.nav-desktop__item {
	padding: 0px;
}
