.lotti-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.lotti-section__title {
	text-align: center;
	margin-bottom: 53px;
}
.lotti-1 {
	//margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#animationWindow1 {
	width: 50vw;
	//height: 50vh;
}
#animationWindow2 {
	width: 65%;
	//height: 50vh;
	margin: 0 22% 0 auto;
}

.wrap {
	display: flex;
	justify-content: space-between;
}
.left {
	width: 50%;
	overflow: hidden;
}

.right {
	width: calc(50%);
}
//!!!!!!!!!
.item {
	height: calc(350vh);
	border: 2px solid red;
}

.item--title {
	padding-top: 110%;
	height: 50%;
}

.item__title {
	letter-spacing: 2.3px;
	margin-bottom: 36px;
	max-width: 80%;
	font-size: 53px;
}
.item__text {
	font-size: 20px;
	max-width: 90%;
	margin-bottom: 55px;
}
.item__button-wrapper {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	gap: 20px;
}

.item--info {
	height: 50%;
}

.item-info {
	&__wrapper-container {
		padding: 55px 46px 55px 30px;
		display: flex;
		flex-direction: column;
		gap: 45px;
		width: 566px;
		height: 615px;
		border-radius: 20px;
		background: #fafafa;
		border-radius: 20px;
	}
	&__content-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
		gap: 40px;
	}
	&__icon-image {
		margin-top: 5px;
	}
	&__text-wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__title {
		font-size: 26px;
		line-height: 26px;
	}
	&__subtitle {
		line-height: 1.5em;
	}
}
.item--info {
}
